:root {
  --ivory: rgb(252, 252, 252);
  --silver: rgb(189, 196, 200);
  --gold: rgb(255, 196, 0);
  --glow: rgba(255, 217, 0, 0.6);
  --sand: rgba(205, 198, 188, 0.9);
  --gray: rgb(192, 192, 192);
  --shadow: rgb(29, 29, 29);
  --black-50: rgba(0, 0, 0, 0.5);
  --primary: rgb(36, 13, 92);
  --secondary: rgb(204, 50, 117);
  --border-radius: 1px; /* 20px */
  --border-width: 2px; /* 12px */
  --border-width-double: calc(var(--border-width) * 3);
}
@font-face {
  font-family: "Playwrite";
  src: url("../font/Playwrite.ttf") format("truetype");
}

@font-face {
  font-family: "Transcity";
  src: url("../font/Transcity DEMO.otf") format("opentype");
}

body {
  font-family: "Playwrite";
  font-size: 24px;
  user-select: none;
  background-image: url("../image/texture.png");
  margin: 0;
}

.extract {
  display: flex;
  align-items: center;
}
.materials {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.compound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}
.orbs {
  align-self: center;
  min-width: max-content;
}
.large span {
  font-size: 48px;
}
.unstable {
  animation: unstable 5s;
  animation-iteration-count: infinite;
  width: 20%;
  margin: 0 auto;
}
.unstable span {
  transform: scale(2, 1);
}

@keyframes unstable {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header-bar {
  background-color: var(--sand);
  width: 100%;
  color: var(--ivory);
  padding: 10px 0;
}
.stats {
  padding: 0 20px;
  display: inline-block;
  min-width: 240px;
}

.stat-title {
  display: inline-block;
}
.stat-value {
  float: right;
  color: var(--shadow);
}

#workshop {
  width: 100%;
  flex-grow: 1;
  align-content: center;
  background-image: linear-gradient(var(--sand), 95%, transparent);
}
.footer-bar {
  padding-bottom: 3%;
}

.title {
  font-family: "Transcity";
  font-size: 120px;
  opacity: 0.2;
  float: left;
  height: 100px;
  padding: 0 20px;
}
.title::after {
  content: "Libra";
}

/* Mobile screen: Portrait */
@media (max-width: 640px) {
  .extract {
    flex-direction: column;
  }
  .extract span {
    font-size: 20px;
  }
  .header-bar {
    position: relative;
  }
  .header-bar .stats {
    position: absolute;
    top: 10px;
    padding-right: 20px;
    display: block;
  }
  #workshop {
    overflow: scroll;
  }
  .img-goddess {
    height: 85vh;
  }
  .img-goddess img {
    height: 80vh;
  }
  .goddess-result {
    /* todo temporary */
    left: 15%;
  }
}

.line-decor {
  width: 100%;
}
.semi-circle {
  position: absolute;
  width: 100%;
  height: 20px;
  background: radial-gradient(
    16px,
    transparent,
    transparent 4px,
    var(--primary) 4px,
    var(--primary) 10px,
    transparent 11px
  );
  background-size: 20px 40px;
}
.semi-circle-down {
  background-position: 20px -20px;
}

.dim {
  color: var(--gray);
}
